@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

html{
    overflow-x: hidden;
    scroll-padding-top: 4rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: .8rem;
}

html::-webkit-scrollbar-track{
    background: #ABABAB;
}

html::-webkit-scrollbar-thumb{
    background: var(--elementos);
    border-radius: 5rem;
}

:root {
    /*========== Colors ==========*/
    --title-color: #393931;
    --text-color: #3D3D3D;
    --body-color: #FDF9FD;
    --container-color: linear-gradient(to top, #e2d3dfc4 0%, #FAEEF8 100%);
    /* --container-color: #FAEEF8; */
    --nav-color: #280922d5;
    --slider-text: #E8B0DF;
    --contact-info: #dfd1dc;
    --link-footer: #bb1a98;
    --elementos: #6A205F;
    --banner-fondo: linear-gradient(rgba(0,0,0,0.65),rgba(0,0,0,0.55)),url(../img/pxfuel.com.jpg);
}

body.dark{
    --title-color: #F1F3F2;
    --text-color: #C7D1CC;
    --body-color: #280922; 
    --container-color: linear-gradient(to top, #31172e 0%, #4d3a49 100%);
    /* --container-color: #3B0E34;  */
    --nav-color: #1d071bef;
    --slider-text: #9E258A;
    --contact-info: #352731;
    --link-footer: #b81b96;
    --elementos: #E8B0DF;
    --banner-fondo: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.65)),url(../img/pxfuel.com.jpg);
}

/*========== LAYOUT ==========*/
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

a{
    text-decoration: none;
}

.bd-container{
    max-width: 960px;
    width: calc(100% - 2rem);
    margin-left: 1rem;
    margin-right: 1rem;
}

.bd-grid{
    display: grid;
    gap: 1.5rem;
}

.l-header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.l-header.sticky{
    background-color: var(--nav-color);
}


/*========== NAV ==========*/
.nav{
    max-width: 80%;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 768px){
    .nav__menu{
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    padding: 1.5rem 0 1rem;
    text-align: center;
    background-color: var(--nav-color);
    transition: .4s;
    box-shadow: 0 4px 4px rgba(0,0,0,.1);
    border-radius: 0 0 1rem 1rem;
    z-index: 100;
    }

    .l-header{
        background-color: var(--nav-color);
        transition: .4s;
    }


    .nav{
        max-width: 100%; 
    }
}

.nav__item{
    margin-bottom: 1rem;
}

.nav__link, .nav__toggle{
    color: #F1F3F2;
    font-weight: 500;
}

.logo{
    width:30px;
    cursor: pointer;
}

.nav__link{
    transition: .3s;
}

.nav__link:hover{
    color: #c732b3;
}

.nav__toggle{
    font-size: 1.3rem;
    cursor: pointer;
}

/* Show menu */
.show-menu{
    top: 3rem;
}

/* Active menu */
.active-link{
    color: #c732b3;
}


@media screen and (min-width: 768px) /*PARA PC*/{

    .nav{
        height: calc(3rem + 1.5rem);
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
}

    .nav__list{
        display: flex;
}

    .nav__item{
        margin-left: 2.5rem;
        margin-bottom: 0;
}

    .nav__toggle{
        display: none;
}

    .label{
        margin-left: 2.5rem;
        
}

    .logo{
        width:50px;
        cursor: pointer;
    }

    .nav__menu{
        display: inline-flex;
    }
}

/*----------------------------------------DARK MODE BTN----------------------------------------*/
/*----------------------------------------DARK MODE BTN----------------------------------------*/

.checkbox {
	opacity: 0;
	position: absolute;
}

.label {
	background-color: #343d5b;
	border-radius: 50px;
	cursor: pointer;
	display: inline-flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px;
	position: relative;
	height: 26px;
	width: 50px;
	transform: scale(0.9);
}

.label .ball {
	background-color: #fff;
	border-radius: 50%;
	position: absolute;
	top: 2px;
	left: 2px;
	height: 22px;
	width: 22px;
	transform: translateX(0px);
	transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
	transform: translateX(24px);
}


.fa-moon {
	color: #f1c40f;
}

.fa-sun {
	color: #f39c12;
} 

/*----------------------------------------SCROLL TOP----------------------------------------*/
/*----------------------------------------SCROLL TOP----------------------------------------*/

.scrolltop{
    position: fixed;
    right: 1rem;
    bottom: -20%;
    justify-content: center;
    align-items: center;
    padding: 0.4rem;
    border-radius: .4rem;
    z-index: 10;
    transition: .4s;
    visibility: hidden;

}



.scrolltop .fab{
    font-size: 3rem;
    color: rgb(19, 158, 65);
}

/* Show scrolltop */
.show-scroll{
    visibility: visible;
    bottom: 1.5rem;
}


/*----------------------------------------CONTENT BANNER----------------------------------------*/
/*----------------------------------------CONTENT BANNER----------------------------------------*/
.banner{
    width: 100%;
    height:100vh;
    background: var(--banner-fondo);
    background-size: cover;
    background-position: center;
}

.content{
    width: 100%;
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}

.title{
    font-size: 5rem;
    line-height: 100px;
    font-weight: 600;
    height: 100px;
    margin-bottom: 80px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.content p{
    margin: 20px auto;
    line-height: 25px;
    margin-bottom: 50px;
}

.reserva{
    padding: 15px 25px;
    margin: 20px;
    font-size: 1rem;
    font-weight: 600;
    border: 2px solid;
    border-color: var(--slider-text);
    color: #fff;
    cursor: pointer;
    background: linear-gradient(to left, transparent 50%, var(--slider-text) 50%);
    border-radius: 5rem;
    background-size: 201%;
    background-position: right;
    transition: background-position 0.5s;
}

.reserva:hover{
    background-position: left;
    font-weight: 600;
    color: #000;
}

.slider{
    color: var(--slider-text);
    margin-left: 12px;
    box-sizing: border-box;
    animation: slider 6s linear infinite;
}

@keyframes slider{
    0%{ margin-top: -400px; }
    5%{ margin-top: -200px; }
    30%{ margin-top: -200px; }
    35%{ margin-top: 0px; }
    65%{ margin-top: 0px; }
    70%{ margin-top: 200px; }
    100%{ margin-top: 200px; }
}

@media screen and (max-width: 770px) {

    .title{
        font-size: 30px;
        margin-bottom: 20px;;
    }

    .content p{
        font-size: .9rem;
        padding:20px;
    }

    .reserva{
        font-size: .8rem;
    }

    button{
        font-size: 14px;
    }

    html{
        overflow-x: hidden;
        scroll-padding-top: 0rem;
        scroll-behavior: smooth;
    }
    
    html::-webkit-scrollbar{
        width: .6rem;
    }
    
    html::-webkit-scrollbar-track{
        background: rgb(142, 132, 143);
    }
    
    html::-webkit-scrollbar-thumb{
        background: rgb(121, 13, 103);
        border-radius: 5rem;
    }
}
/*----------------------------------------SERVICIOS----------------------------------------*/
/*----------------------------------------SERVICIOS----------------------------------------*/
#servicios{
    width: 100%;
    padding: 70px 0;
    background: var(--body-color);
}

.title-text{
    text-align: center;
    padding-bottom: 70px;
    color: var(--title-color);
}

.title-text p{
    margin: auto;
    font-size: 20px;
    color: var(--elementos);
    font-weight: 600;
    position: relative;
    z-index: 1;
    display: inline-block;
}

.title-text p::after{
    content: '';
    width: 50px;
    height: 25px;
    background: linear-gradient(var(--elementos),#fff);
    position: absolute;
    top: -20px;
    left: 0;
    z-index: -1;
    transform: rotate(2deg);
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
}

.title-text h2{
    font-size: 50px;
}

.feature-box{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}

.features{
    flex-basis: 50%;
    display: grid;
    gap: 2rem;
}

.features-img{
    flex-basis: 50%;
    align-items: flex-end;
    text-align: end;
}

.features-img img{

    border-radius: 10px;
    opacity: .9;
    max-width: 100%;
    height: auto;
}

.features h3{
    font-size:1.5rem;
    text-align: left;
    font-weight: 500;
    color: var(--elementos);
}

.features-desc{
    display:flex;
    align-items: center;
    color: var(--text-color);
    margin-bottom: 2rem;
}

.feature-icon .fas{
    width: 50px;
    height: 50px;
    font-size: 30px;
    line-height: 50px;
    border-radius: 10px;
    color: var(--elementos);
    border: 1px solid var(--elementos);
}

.feature-text p{
    padding: 0 20px;
    text-align: initial;
}

@media screen and (max-width: 1200px){
    .features{
        flex-basis: 100%;
        gap: 2rem;
    }

    .features-img{
        flex-basis: 100%;
    }

    .features-img img{
        display: none;
    }

}

@media screen and (max-width: 770px){
    .title-text h2{
        font-size: 25px;
    }

    .features{
        flex-basis: 100%;
        gap: 2rem;
    }


    .features-desc{
        font-size: .9rem;
        margin-bottom: 0;
    }

    .features h3{
        font-size: 1rem;
    }

    .features-img img{
        display: none;
    }
}

/*----------------------------------------TRABAJOS----------------------------------------*/
/*----------------------------------------TRABAJOS----------------------------------------*/
#trabajos{
    width: 100%;
    padding: 70px 0;
    background: var(--container-color);
}

.service-box{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
}

.single-service{
    flex-basis: 48%;
    text-align: center;
    border-radius: 7px;
    margin-bottom: 20px;
    color: #fff;
    position: relative;
}

.single-service img{
    width: 100%;
    border-radius: 7px;
    display: block;
}

.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    border-radius: 7px;
    cursor: pointer;
    background: linear-gradient(rgba(0,0,0,0.5), var(--slider-text));
    opacity: 0;
}

.single-service:hover .overlay{
    opacity: 0.8;
}

.service-desc{
    width: 80%;
    position: absolute;
    bottom: 0;
    left: 50%;
    opacity: 0;
    transform: translateX(-50%);
    transition: 1s;
}

hr{
    background: rgba(255, 255, 255, 0.363);
    height: 2px;
    border: 0;
    margin: 15px auto;
    width: 60%;
}

.service-desc p{
    font-size: 14px;
}

.single-service:hover .service-desc{
    bottom: 40%;
    opacity: 1;
}

@media screen and (max-width: 770px){
    .single-service{
        flex-basis: 100%;
        margin-bottom: 30px;
    }

    .service-desc p{
        font-size: .9rem;
    }

    hr{
        margin: 5px auto;
    }

    .overlay{
        opacity: .8;
    }

    .service-desc{
    bottom: 20%;
    opacity: 1;
}

.single-service:hover .service-desc{
    bottom: 25%;
}

}

/*----------------------------------------TURNOS----------------------------------------*/
/*----------------------------------------TURNOS----------------------------------------*/
#turnos{
    width: 100%;
    padding-top: 70px;
    background-color: var(--body-color);
}

.cta {
    margin: auto;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.6)), url(..//img/turnos.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    padding: 100px 0;
}

.cta h2{
    color: #fff;
    margin-bottom: 40px;
    font-weight:400;
    padding: 0;
}

.cta .fab{
    font-weight: 500;
    font-size: 20px;
}


.wpp{
    padding: 15px 25px;
    margin: 20px;
    font-size: 1rem;
    font-weight: 600;
    border: 2px solid;
    border-color: var(--slider-text);
    color: #fff;
    cursor: pointer;
    background: linear-gradient(to left, transparent 50%, var(--slider-text) 50%);
    border-radius: 5rem;
    background-size: 201%;
    background-position: right;
    transition: background-position 0.5s;
}

.wpp:hover{
    background-position: left;
    font-weight: 600;
    color: #000;
}

@media screen and (max-width: 770px){
    .cta h2{
        font-size: .9rem;
    }

    .wpp{
        font-size: .8rem;
    }

}

/*----------------------------------------FORMULARIO----------------------------------------*/
/*----------------------------------------FORMULARIO----------------------------------------*/

#form {
    width: 100%;
    background: var(--container-color);
    padding: 70px 0;
}

.contactUs{
    width: 80%;
    margin: auto;
    border-radius: 10px;
    padding-bottom: 0;
} 


.form {
    grid-area: form;
}
.info {
    grid-area: info;
}

.map {
    grid-area: map;
}

.contact {
    padding: 40px;
    background: var(--body-color);
    box-shadow: 0 5px 35px rgba(0, 0, 0, .15);
    border-radius: 10px;
    
}

.box {
    position: relative;
    margin: auto;
    display:grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 5fr 4fr;
    grid-template-areas: 
    "form info" 
    "form map";
    grid-gap: 20px;
}


/* FORMULARIO */
.formBox{
    position: relative;
    width: 100%;
    margin-bottom: 0;
}

.form .row50{
    display: flex;
    gap: 20px;
}

.inputBox{
    display:flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 50%;
}

.formBox .row100 .inputBox{
    width: 100%;
}

.inputBox span{
    color: var(--text-color);
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: 500;
}

.inputBox input{
    padding: 10px;
    font-size: 1.1em;
    outline: none;
    border: 1px solid var(--slider-text);
    border-radius: 10px;
}

.inputBox textarea{
    padding: 10px;
    font-size: 1.1em;
    outline: none;
    border: 1px solid var(--slider-text);
    border-radius: 10px;
    resize: none;
    min-height: 220px;
    margin-bottom: 10px;
}

.inputBox_boton{
    display: flex;
    justify-content: space-between;
}


.inputBox_boton input[type="submit"], input[type="reset"]{
    padding: .5rem;
    font-size: 1rem;
    width: 48%;
    font-weight: 500;
    border: 2px solid;
    border-color: var(--slider-text);
    color: var(--title-color);
    cursor: pointer;
    background: linear-gradient(to left, transparent 50%, var(--slider-text) 50%);
    border-radius: 5rem;
    background-size: 201%;
    background-position: right;
    transition: background-position 0.5s;
}

.inputBox_boton input[type="submit"]:hover, input[type="reset"]:hover{
    background-position: left;
    font-weight: 600;
    color: #fff;
}

.inputBox ::placeholder{
    color: #999;
}

/* FORMULARIO INFO*/
.info{
    background: var(--body-color);
    border-radius: 10px;
}


.info .infoBox div{
    display:flex;
    align-items: center;
    margin-bottom: 10px;
}

.info .infoBox .info__box span{
    min-width: 40px;
    height: 40px;
    color: var(--text-color);
    background-color: var(--contact-info);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    border-radius: 50%;
    margin-right: 20px;
    margin-bottom: 1rem;
}

.info .infoBox .info__box address{
    color: var(--text-color);
}

.info .infoBox .info__box p{
    color: var(--text-color);
    font-size: 1.1em;
}

.info .infoBox .info__box a{
    color: var(--elementos);
}

.info .infoBox div .info {
    color: var(--text-color);
    text-decoration: none;
    font-size: 1.1em;
}

.info .infoBox .wrapper{
    display:flex;
    justify-content: space-around;
    
}

.map{
    padding: 0;
}

.map iframe{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

@media (max-width: 1100px){
    .contactUs{
        padding: 20px;    
    }

    #formulario{
        justify-content: center;
    }

    .box{
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: "form" "info" "map";
    }

    .formBox .row50{
        display:flex;
        gap:0;
        flex-direction: column;
    }

    .inputBox{
        width: 100%;
    }

    .contact .info{
        display:none;
    }

    .map{
        min-height: 300px;
        padding: 0;
    }

    .info .infoBox .info__box p{
        font-size: .9rem;
    }
    .info .infoBox .info__box a{
        font-size: .9rem;
    }
    .inputBox textarea{
        font-size: .9rem;
    }
    .inputBox input{
        font-size: .9rem;
    }
    .inputBox span{
        font-size: .9rem;
    }

    .inputBox_boton input[type="submit"], input[type="reset"]{
        font-size: .8rem;
    }

    .contactUs{
    width: 100%;
}
}

/*----------------------------------------FOOTER----------------------------------------*/
/*----------------------------------------FOOTER----------------------------------------*/

#contacto{
    padding: 100px 0 20px;
    background-color: var(--body-color);
    position: relative;
    color: var(--text-color);
}

.footer-row{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-left .footer-right{
    flex-basis: 45%;
    padding: 10px;
    margin-bottom: 20px;
}

.footer-right{
    text-align: right;
}


.footer-row h4{
    font-size:1.5rem;
    margin: 10px 0;
}

.footer-row p{
    line-height: 35px;
}

.footer-left .far, .footer-right .fa{
    font-size: 1rem;
    color: var(--elementos);
    margin: 10px;
}

.footer-img{
    max-width: 200px;
    opacity: 0.3;
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
}

/*----------------------------------------ICONOS FOOTER----------------------------------------*/
/*----------------------------------------ICONOS FOOTER----------------------------------------*/

.wrapper {
    display: flex;
    justify-content: center;
}

.wrapper .icon {
    position: relative;
    background-color: var(--container-color);
    border-radius: 50%;
    padding: 15px;
    margin: 10px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background-color: #ffffff;
    color: #ffffff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper a{
    color: var(--text-color);
}

.wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background-color: #ffffff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
    background-color: #3b5999;
    color: #ffffff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
    background-color: #e1306c;
    color: #ffffff;
}

.wrapper .whatsapp:hover,
.wrapper .whatsapp:hover .tooltip,
.wrapper .whatsapp:hover .tooltip::before {
    background-color: #2d8b49;
    color: #ffffff;
}

.footer-text{
    font-size: 13px;
    padding-top: 20px;
    font-weight: 400;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 770px){
    .footer-left, .footer-right{
        flex-basis: 100%;
        font-size: .9rem;
    }

    .footer-img{
    top: 50%;
    opacity: 0.1;
    }

    .footer-row h4{
        font-size: 1.2rem;
    }
}
